<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Spring 管理文件 -->

    <!-- 引入dbconfig.properties属性文件 -->
    <context:property-placeholder location="dbconfig.properties"/>

    <!--配置数据源,这里可以换成C3P0,DBCP等等其他的链接方式-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${jdbc_url}"/>
        <property name="username" value="${jdbc_username}"/>
        <property name="password" value="${jdbc_password}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 管理数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 映射文件，这里注意 idea 编译的时候配置文件必须置于 resource 文件夹下 -->
        <!--<property name="mapperLocations" value="classpath:com/maven/dao/*Mapper.xml"/>-->
        <property name="mapperLocations" value="classpath:com/maven/dao/*Mapper.xml"/>
        <!-- 映射文件中 type 只需写上类名，否则需要加上全类名 -->
        <property name="typeAliasesPackage" value="com.maven.model"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--  -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--  -->
        <property name="basePackage" value="com.maven.dao"/>
    </bean>

</beans>